player-connection-mode=Listen
player-connection-guid=902185034
player-connection-debug=0
player-connection-project-name=Tic Tac Toe Multiplayer
player-connection-ip=192.168.1.106
player-connection-ip=26.127.178.212
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=919e483d42444bde807f7b1f9e62d0a6
